@font-face {
    font-family: kakao;
    src: url(./.fonts.KakaoRegular.ttf);
}

body {
    font-family: kakao, sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 1712px;
    height: 85px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: antiquewhite;

}