@font-face {
    font-family: kakao;
    src: url(./.fonts.KakaoRegular.ttf);
}

body {
    font-family: kakao, sans-serif;
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 1712px;
    height: 85px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    /*background color*/

}

.header-logo {
    font-size: 2rem;
}

.header-nav {
    display: flex;
    gap: 80px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.7);
}

.header-nav-item:hover {
    color: rgb(0, 0, 0, 1);
    font-weight: 700;
    cursor: pointer;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.icon-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    /*background color*/

    background-size: 24px 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.icon-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.icon-button.search {
    background-image: url(./images/search.png);
}
.icon-button.earth {
    background-image: url(./images/earth.png);
}
.icon-button.moon {
    background-image: url(./images/moon.png);
}

#main {
    width: 1712px;
    margin-top: 85px;
    display: grid;
    grid-template:
        "video impact" 272px
        "video report" 1fr
        "video group" 164px
        / 1fr 272px;
    gap: 16px;
}

.video {
    grid-area: video;
    position: relative;
}

.video-content {
    height: 808px;
}